name: Lint and type check

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: pip install -e .
      - run: pip install pytest lxml-stubs
      - run: pip install 'pyright>=1.1.363'
      - run: pyright
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: pip install 'black>=26,<27'
      - run: black --check --diff .
